
   .list{
    margin-bottom: 91px;
  }
   .list ul{
    width: 776px;
    display: flex;
    column-gap: 56px;
    flex-wrap: wrap;
  }
   .list ul li{
    position: relative;
    aspect-ratio: 1 / 1;
    width: 360px;
    height: 360px;
  }
   .list ul li:nth-child(even) {
    margin-top: 56px;
  }
   .list ul li .img img{
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    border: 4px solid #F2F2F2;
  }
   .list ul li .genres{
    position: absolute;
    font-size: 24px;
    font-weight: 600;
    top: 16px;
    right: 16px;
    z-index: 1;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tagFoodColor{
    background-color: #FFC400;
    color: #333333;
  }
  .tagClothingColor{
    background-color: #E2F6F9;
    color: #333333;
  }
  .tagHousingColor{
    background-color: #D1FFE0;
    color: #333333;
  }
  .tagTransportColor{
    background-color: #00BAFF;
    color: #333333;
  }
  .tagEducationColor{
    background-color: #00422C;
    color: #FFFFFF;
  }
  .tagEntertainmentColor{
    background-color: #001C48;
    color: #FFFFFF;
  }
  
   .list ul li .detail{
    position: absolute;
    font-size: 24px;
    font-weight: 600;
    bottom: 0px;
    left: 0px;
    width: 288px;
    font-family:var(--font-family-noto);
    font-weight: var(--font-weight-medium);
    font-size: 20px;
    line-height: 30px; 
    letter-spacing: 0.4px;
    background-color: #F2F2F2;
    z-index: 1;
    border-radius: 0 20px 0 20px;
    padding: 16px;
  }
   .list ul li .detail .txt{
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden; 
    color: #333333;
  }

   .list ul li .detail .upImg{
    position: absolute;
    top: -20px;
    left: 4px;
  }
   .list ul li .detail .rightImg{
    position: absolute;
    bottom: 4px;
    right: -20px;
  }
  @media (max-width:1342px) {
     .list ul{
        column-gap: 20px;
        width: 500px;
      }
     .list ul li{
        width: 240px;
        height: 240px;
      }
       .list ul li:nth-child(even) {
        margin-top: 56px;
      }
       .list ul li .detail{
        width: 200px;
      }
      
    }
@media (max-width:1066px) {
     .list ul{
        width: 100%;
        display: block;
        display: flex;    
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 20px;
    }
     .list ul li{
        width: 240px;
        height: 240px;
    }
     .list ul li:nth-child(even) {
        margin-top: 0px;
    }
     .list ul li .detail{
        width: 200px;
    }
}
@media (max-width:767px) {
     .list ul{
        width: 100%;
        row-gap: 32px;
    }
     .list ul li{
        width: 100%;
        height: 100%;
    }
     .list ul li:nth-child(even) {
        margin-top: 0px;
    }
     .list ul li .detail{
        width: 85%;
    }
}