.marquee{
    padding: 48px 0;
}
.marquee a{
    font-size: 56px;
    font-weight: 500;
    line-height: 80px;
    color: #16D571;
}
@media (max-width:1699px) {
    .marquee{
        padding: 32px 0;
        margin-bottom: 0;
    }
    .marquee a{
        font-size: 48px;
    }
}
@media (max-width:767px) {
    .marquee a{
        font-size: 32px;
    }
}
