 .secret{
    border-radius: 30px;
    border: 2px solid #DDD;
    background: #FFF;
    overflow: hidden;
    padding:24px;
    margin-bottom: 20px;
}
.mo {
    display: none;
}
.secret :global(.slick-dots li.slick-active button:before) {
    background-color: #00d221 !important;
  } 
 .secret .subtitle{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.4px;
    display:flex;
    align-items: center;
    column-gap: 8px;
    margin-bottom: 10px;
}
 .secret .subtitle .line{
    background-color: #00D221;
    width: 2px;
    height: 6px;
    font-size: 18px; 
}
 .secret .subtitle .tag{
    width: 30px;
    height: 30px; 
    display:flex;
    align-items: center;
    justify-content: center; 
    line-height: 0;
    border-radius: 60px;
    font-weight: 600;
}
.tagFoodColor{
    background-color: #FFC400;
    color: #333333;
  }
  .tagClothingColor{
    background-color: #E2F6F9;
    color: #333333;
  }
  .tagHousingColor{
    background-color: #D1FFE0;
    color: #333333;
  }
  .tagTransportColor{
    background-color: #00BAFF;
    color: #333333;
  }
  .tagEducationColor{
    background-color: #00422C;
    color: #FFFFFF;
  }
  .tagEntertainmentColor{
    background-color: #001C48;
    color: #FFFFFF;
  }
 .secret .title{
    display: flex;
    margin-bottom: 85px;
    column-gap: 10px;
}
 .secret .title .word{
    width: 65%;
    overflow: hidden;    
}
 .secret .title .word p{
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box; 
    letter-spacing: 0.5px; 
}
 .secret .title .word .description{
    color: #666666;
    font-size: 24px;
    height: 32px;
    overflow: hidden;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box; 
    margin-top: 20px;
}
 .secret .img{ 
    width: 35%;   
    border-radius: 30px;
    overflow: hidden;
}
 .secret .img img{ 
    border-radius: 30px;
    aspect-ratio: 1/1;
}

 .secret :global(.slick-dots){
    position:relative;
    bottom:auto;
    left:auto;
    text-align:left;
}
@media (max-width:1919px) {
     .secret .title {
        font-size: 30px;
        margin-bottom: 50px;
    }
     .secret .txt {
        font-size: 20px;
        height: 60px;
        margin-bottom: 30px;
    }
}
@media (max-width:1599px) {
     .secret{
        padding: 18px 24px;
    }
     .secret .title {
        font-size: 24px;
        margin-bottom: 25px;
    }
     .secret .title .word p{
        font-size: 30px;
    }
     .secret .img{ 
        width: 40%;   
    }
     .secret .title .word .description{
        font-size: 18px;
        height: 25px;
    }
     .secret .subtitle {
        font-size: 18px;
    }
     .secret .subtitle .tag {
        width: 25px;
        height: 25px;
    }
}
@media (max-width:1279px) {
     .secret .title {
        font-size: 24px;
        margin-bottom: 10px;
    }
     .secret {
        padding: 16px;
        margin-bottom: 20px;
    }
     .secret .title .word .description{
        margin-top: 0px;
        font-size: 16px;
        height: 20px;
    }
     .secret .img{ 
        width: 33%;
    }
     .secret .img {
        border-radius: 15px;
    }
     .secret .txt {
        font-size: 16px;
        height: auto;
        -webkit-line-clamp: 1;       
    }
     .secret .subtitle {
        font-size: 18px;
    }
     .secret .subtitle .tag {
        width: 25px;
        height: 25px;
    }
}
@media (max-width:1023px) {
     .secret {
        padding: 20px;
    }
     .secret :global(.slick-dots){
        text-align:center;
    }
     .secret .title .word{
        width: 100%;
    }
     .secret .title .word p {
        width: 100%;
        height: auto;
        display: block;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        display: -webkit-box;
        margin-bottom: 10px;
    }
     .secret .title .word .description {
        margin-bottom: 10px;
    }
     .secret .txt {
        font-size: 18px;
        height: auto;
        display: block;
    }
     .secret .img{ 
        width: 100%;   
    }
     .secret .img.pc{ 
        display: none;  
    }
     .secret .img.mo{
        width: 100%;
        display: block;  
        margin-bottom: 20px;
    }
}
