

.frameBox{
    width: 1664px;
    margin: 0 auto;
}
@media (max-width:1699px) {
    .frameBox{
        width: 1216px;
        margin: 0 auto;
    }
}
@media (max-width:1279px) {
    .frameBox{
        width: 970px;
        margin: 0 auto;
    }
}
@media (max-width:1023px) {
    .frameBox{
        width: 100%;
        margin: 0 auto;
    }
}
.view{
    background-color: #FBFBFB;
    padding: 80px 0;
    margin-bottom: 120px;
}
.view .title{
    color: #1A242F;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
}
.view .list{
    position: relative;
}
.view .list ul li{
    padding: 48px 0;
}
.view .list ul li a{
    display: flex;
    align-items: center;
    gap: 64px;
    position: relative;
    padding-right: 48px;
}
.view .list .imgBox{
    width: 60%;
    display: flex;
    gap: 64px;
    position: relative;
}
.view .list .txtBox{
    width: 40%;
}
.view .list .txtBox .time{
    display: none;
}
.view .list .imgBox .img{
    width: 90%;
    aspect-ratio: 16/9;
    border-radius: 40px;
    overflow: hidden;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}
.view .list .imgBox .img img{
    transition: transform 0.2s ease-out;
    transform: scale(1);
}
.view .list li a:hover .img img{
    transition: transform 0.2s ease-in;
    transform: scale(1.2);
}
.view .list .imgBox .time .t1{
    font-family: var(--font-family-roboto);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: -0.2px;
}
.view .list .imgBox .time .t2{
    font-family: var(--font-family-roboto);
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -1.12px;
}
.view .list .txtBox{
    padding-right: 48px;
    position: relative;
}
.view .list li a .arraw{
    position: absolute;
    aspect-ratio: 1/1;
    border-radius: 100px;
    background-color: #E5E5E5;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    right: 0;
    bottom: 0;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}
.view .list li a:hover .arraw{
    transform: rotate(-45deg);
    background-color: #5BEC3E;
}
.view .list .txtBox .subTitle{
    color: #35D614;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.72px;
    margin-bottom: 10px;
}
.view .list .txtBox .title{
    font-size: 36px;
    font-weight: 500;
    line-height: 135%;
    letter-spacing: 1.44px;
}
.view .btnBox{
    margin-top: 48px;
    text-align: center;
}
.view .btnBox a{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.72px;
    color: #1A242F;
    border-radius: 100px;
    background-color: #5BEC3E;
    padding: 10px 48px;
    width: max-content;
    margin: 0 auto;
    transition: all 0.3s ease;
}
.view .btnBox a:hover{
    background-color: #78f580;
}
@media (max-width:1699px) {
    .view{
        margin-bottom: 80px;
    }
    .view .title{
        font-size: 36px;
    }
    .view .list .txtBox .title{
        font-size: 28px;
    }
    .view .list .imgBox .img{
        border-radius: 32px;
    }
}
@media (max-width:1279px) {
    .view .list .txtBox .title{
        font-size: 24px;
    }
}
@media (max-width:1023px) {
    .view{
        background-color: #fff;
        padding: 48px;
    }
    .view .list ul li{
        padding: 24px 0 0;
    }
    .view .list ul li a{
        display: block;
        padding-right: 0px;
        background-color: #fff;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
        border-radius: 24px;
        overflow: hidden;
    }
    .view .list .imgBox{
        width: 100%;
        display: block;
    }
    .view .list .imgBox .img{
        width: 100%;
        border-radius: 0;
    }
    .view .list .imgBox .time{
        display: none;
    }
    .view .list .txtBox{
        width: 100%;
        padding: 32px 24px;
        box-sizing: border-box;
        display: flex;
        gap: 24px;
    }
    .view .list li a .arraw{
        display: none;
    }
    .view .list .txtBox .time{
        display: block;
        text-align: center;
        font-family: var(--font-family-roboto);
    }
    .view .list .txtBox .time .t1{
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: -0.18px;
        color: #1A242F;
    }
    .view .list .txtBox .time .t2{
        text-align: center;
        font-size: 32px;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: -0.64px;
        color: #1A242F;
    }
    .view .btnBox{
        margin-top: 24px;
    }
}
@media (max-width:767px) {
    .view .title{
        font-size: 30px;
    }
    .view{
        background-color: #fff;
        padding: 0 24px 32px;
        margin-bottom: 64px;
    }
    .view .list .txtBox .subTitle{
        font-size: 16px;
        margin-bottom: 5px;
    }
    .view .list .txtBox .title{
        font-size: 20px;
    }
    .view .btnBox{
        margin-top: 32px;
    }
}