

.frameBox{
    width: 1664px;
    margin: 0 auto;
}
@media (max-width:1699px) {
    .frameBox{
        width: 1216px;
        margin: 0 auto;
    }
}
@media (max-width:1279px) {
    .frameBox{
        width: 970px;
        margin: 0 auto;
    }
}
@media (max-width:1023px) {
    .frameBox{
        width: 768px;
        margin: 0 auto;
    }
}
@media (max-width:767px) {
    .frameBox{
        width: 100%;
        margin: 0 auto;
    }
}
.view{
    background-color: #FBFBFB;
    padding: 80px 0;
}
.view .title{
    color: #1A242F;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
}
.view .list{
    position: relative;
}
.view .list ul li{
    padding: 48px 0;
}
.view .list ul li a{
    display: flex;
    align-items: center;
    gap: 64px;
    position: relative;
}
.view .list .imgBox,.view .list .txtBox{
    width: 50%;
}
.view .list .imgBox{
    display: flex;
    gap: 64px;
}
.view .list .imgBox .img{
    aspect-ratio: 16/9;
    border-radius: 40px;
    overflow: hidden;
}
.view .list .imgBox .img img{
    transition: transform 0.2s ease-out;
    transform: scale(1);
}
.view .list li a:hover .img img{
    transition: transform 0.2s ease-in;
    transform: scale(1.2);
}
.view .list .imgBox .time .t1{
    font-family: var(--font-family-roboto);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: -0.2px;
}
.view .list .imgBox .time .t2{
    font-family: var(--font-family-roboto);
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -1.12px;
}
.view .list .txtBox{
    padding-right: 48px;
    position: relative;
}
.view .list li a .arraw{
    position: absolute;
    aspect-ratio: 1/1;
    border-radius: 100px;
    background-color: #E5E5E5;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    right: 0;
    bottom: 0;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}
.view .list li a:hover .arraw{
    transform: rotate(-45deg);
    background-color: #5BEC3E;
}
.view .list .txtBox .subTitle{
    color: #35D614;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.72px;
    margin-bottom: 10px;
}
.view .list .txtBox .title{
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
    letter-spacing: 1.44px;
}
.view .btnBox{
    margin-top: 48px;
    text-align: center;
}
.view .btnBox a{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.72px;
    color: #1A242F;
    border-radius: 100px;
    background-color: #5BEC3E;
    padding: 10px 48px;
    width: max-content;
    margin: 0 auto;
    transition: all 0.3s ease;
}
.view .btnBox a:hover{
    background-color: #78f580;
}
