@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
    width: 5px;
    background: 68E3BC;
}

html::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 0;
    background-color: rgb(255, 248, 237,1);
}
input:focus {
    outline: 0;
}
html::-webkit-scrollbar-thumb {
    background: #89EC54;
}

.pc {
    display: block;
}

.mo {
    display: none;
}

@media (max-width:767px) {
    .pc {
        display: none;
    }

    .mo {
        display: block;
    }
}

.ligthBox{width: 100%; height: 100vh;background-color: #ccc;position: absolute;z-index: 100;top:0;overflow: hidden;}
#wrapper{
    max-width: 1920px; 
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 auto;
}
img{
    width: 100%;
    height: auto;
}
.arraw{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
header nav{
    position: relative; 
}
header nav.act{
    width: 100%;
    position: fixed; 
    z-index: 10;
}
header nav .mainMenu{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:24px 30px;
    background-color: #fff;
}
@media (max-width:1023px) {
    header nav .mainMenu{
        padding:24px;
    }
}
@media (max-width:767px) {
    header nav .mainMenu{
        padding:16px;
    }
}
header .menu ul,header .object{
    display:flex;
    align-items: center;
    column-gap: 30px;
}
@media (max-width:1023px) {
    header .menu ul,header .object{
        display:none;
    }
}
header .menu li{
    font-weight: 400;
    transition: 0.3s;
}
header .menu li a{
    display:flex;
    align-items: center;
    column-gap: 5px;
    padding-bottom: 3px;
    border-bottom: 3px solid rgba(255,255,255,0);
}
header .menu li a img{
    width: 8px;
    height: 5px;
    transition: transform 0.5s ease;
}
header .menu li a img.act{
    transform: rotate(180deg);
    transition: transform 0.5s ease;
}
header .childMenu{
    position: absolute;
    z-index: 1;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.10);
    border-radius: 0px 0px 20px 20px;
    background-color: #fff;
}
@media (max-width:1023px) {
    header .childMenu{
        display:none;
    }
}
header .childMenu.act{ 
    max-height: 500px;
    transition: 0.8s ease-in-out;    
}
header .childMenu ul{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 32px;    
    padding:24px 32px;     
    border-top: 1px solid #DDD;    
}
header .menu li a.act,header .menu li a:hover{
    border-bottom: 3px solid #89EC54;
    transition: 0.3s;
}
header .logo{
    width: 187px;
}
@media (max-width:1023px) {
    header .logo{
        width: 150px;
    }
}
@media (max-width:767px) {
    header .logo{
        width: 100px;
    }
}
.iconSearch{
    width: 30px;
    height: 30px;
}
footer{
    color: #636363;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding:10px 15px 32px;
}
footer br{
    display: none;
}
.footerLine{
    width: 100%;
    padding:0 30px;
}
.footerLine .box{
    width: 100%;
    height:1px;
    background-color: #dadada;
}
@media (max-width:1023px) {
    footer br{
        display: block;
    }
}
/* 手機板導覽列 */
header .menuMo{
    position:relative;
    width: 100%;    
}
header .menuMo{
    position:absolute;
    width: 100%;
    height: 93vh;
    overflow-y: auto;
    background-color: #fff;
    z-index: 1;
    left: 0;
    padding:24px 32px;
}
header .burgerIcon{
    display:none;
    width: 30px;
    height: 30px;
    aspect-ratio: 1/1;
    overflow: hidden;
    line-height: 0;
}

header .menuMo .search{
    width: 100%;
    padding: 8px 40px 8px 20px;
    border-radius: 22px;
    background: #F2F2F2;  
    position: relative;
    margin-bottom: 20px;
}
header .menuMo .search img{
    width: 25px;
    height: 25px;
    position: absolute;
    top:5px;
    right:10px;
    cursor: pointer;
}
header .menuMo .search input{
    width: 100%;
    font-size: 16px;
    background-color: rgba(0,0,0,0);
}
header .menuMo .list li{
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 32px;
}
header .menuMo .list li .child{  
    margin-top: 0px;  
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-out;
}
header .menuMo .list li .child.act{
    margin-top: 20px;
    max-height: 500px;
    transition: 0.3s ease-in-out;    
}
header .menuMo .list li .child a{
    display:block;
    margin-bottom: 20px;
    color: #666;
}
header .menuMo .list li .child a .line{
    width: 12px;
    height: 1px;
    background: #23E888;
    margin: 15px auto 0;
}
header .menuMo .list li .child a:last-child .line{
    display: none;
}
header .menuMo .list li .child a:last-child{
    margin-bottom: 0px;
}

header .menuMo .list li a{
    display:flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}
header .menuMo .list li a img{
    width: 10px;
    height: 10px;
    transition: transform 0.5s ease;
}
header .menuMo .list li a img.act{
    transform: rotate(180deg);
    transition: transform 0.5s ease;
}
header .menuMo .list li:last-child{
    margin-bottom: 0;
}
@media (max-width:1023px) {
    header .burgerIcon{
        display:block;
        width: 20px;
        height: 20px;
    }
}
/* 手機板導覽列 ed*/
/* 首頁 內容*/
.indexPage{
    display:flex;
    column-gap: 20px;
    margin:30px;
}
@media (max-width:1919px) {
    .indexPage{
        width: 1540px;
        margin:0 auto;
    }
}
@media (max-width:1599px) {
    .indexPage{
        width: 1220px;
    }
}
@media (max-width:1279px) {
    .indexPage{
        width: 960px;
    }
}
.indexPage section:nth-child(1){
    width: 60%;
}
.indexPage section:nth-child(2){
    width: 40%;
}
@media (max-width:767px) {
    .indexPage{
        display:block;
        column-gap: 20px;
        padding:30px;
    }
    .indexPage section:nth-child(1),
    .indexPage section:nth-child(2){
        width: 100%;
    }
}
/* 主視覺 */
.indexPage .mainVision{
    width: 100%;    
    margin-bottom: 15px;
    overflow: hidden;
}
.indexPage .mainVision .box{  
    position: relative;  
}
.indexPage .mainVision .box .img{
    border-radius: 30px;  
    overflow: hidden;
    aspect-ratio: 16/9;
    line-height: 0;
}
.indexPage .mainVision .txtBox{
    width: 55%;
    overflow: hidden;
    position:absolute;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    bottom:20px;
    left:20px;
    padding:20px;
    z-index: 1;
}
.indexPage .mainVision .txtBox .object{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.indexPage .mainVision .title{
    width: 100%;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
}
.indexPage .mainVision .txt{
    width: 100%;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
}
.indexPage .slick-dots{
    position:absolute;
    bottom:40px;
    left: 40px;
    text-align: left;
}
.indexPage .slick-dots li{
    width: 40px;
    height: 6px;
    margin-right: 5px;
    border-radius: 30px;
}
.indexPage .slick-dots li button:before{
    width: 40px;
    height: 6px;
    background-color: #D4D4D4;
    font-size: 0;
    content:'';
    opacity: 1;
    border-radius: 30px;
}
.slick-dots li.slick-active button:before{
    background-color:#68E3BC;
    opacity:10;
    border-radius: 30px;
}
/* 主視覺 ed*/
.indexPage .other{
    display:flex;
    align-items: center;
    column-gap: 20px;
}
/* What is ESG? */
.indexPage .whatEsg{
    width:50%;
    padding:35px;
    border-radius: 180px;
    border: 2px solid #DDD;
    background: #FFF;
}
.indexPage .whatEsg .txtBox{    
    display:flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
.indexPage .whatEsg .title{
    font-size: 72px;
    font-weight: 700;
    letter-spacing: 1.44px;
    line-height: normal;
    text-align: center;
    margin-bottom: 10px;
}
.indexPage .whatEsg .txt{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.44px;
    line-height: normal;
    text-align: center;
}
@media (max-width:1919px) {
    .indexPage .whatEsg .title {
        font-size: 62px;
        margin-bottom: 10px;
    }
    .indexPage .whatEsg {
        width: 45%;
        padding: 30px;
    }
}
@media (max-width:1599px) {
    .indexPage .whatEsg .title {
        font-size: 52px;
        margin-bottom: 10px;
    }
    .indexPage .whatEsg {
        width: 45%;
        padding: 30px;
    }
}
@media (max-width:767px) {
    .indexPage .other{
        display:block;
    }
    .indexPage .whatEsg {
        width: 100%;
        margin-bottom: 20px;
    }
}
/* What is ESG? ed*/
/* 永續觀點 */
.indexPage .view{
    width:30%;
    border-radius: 30px;
    background: #D0FF90;
    padding: 24px;
}
.indexPage .view .img{
    aspect-ratio: 16/9;
    overflow: hidden;
    margin-bottom: 5px;
}
.indexPage .view .txt{
    overflow: hidden;
    color: #226158;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.48px;
    height: 80px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;    
}
@media (max-width:767px) {
    .indexPage .view{
        width:100%;
        margin-bottom: 20px;
    }
}
/* 永續觀點 ed*/
/* 參加活動 */
.indexPage .action{
    width:20%;
    border-radius: 180px;
    background: #FFDC34;
    overflow: hidden;
}
.indexPage .action .title{
    text-align: center;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom:10px;
    margin-top: 50px;
}
.indexPage .action .txt{
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom:10px;
}
.indexPage .action .arraw{
    margin:0 auto 40px;
}
@media (max-width:1919px) {
    .indexPage .action .title {      
        font-size: 35px;
    }
}
@media (max-width:1599px) {
    .indexPage .action .title {      
        font-size: 30px;
    }
    .indexPage .action .title {
        margin-bottom: 10px;
    }
    .indexPage .action .txt {
        font-size: 18px;
    }
    .indexPage .action .arraw {
        width: 30px;
        height: 30px;
        margin: 0 auto 30px;
    }
}

@media (max-width:767px) {
    .indexPage .action{
        margin-bottom: 20px;
    }
}
/* 參加活動 ed*/
/* Our Mission */
.indexPage .ourMission{
    border-radius: 190px;
    background: #89EC54;
    overflow: hidden;
    padding: 24px 24px 24px 31px;
    color: #226158;
    display:flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 20px;
}
.indexPage .ourMission .title{
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.44px;
}
.indexPage .ourMission .txt{
    display:flex;
    align-items: center;
    column-gap: 10px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.48px;
}
.indexPage .ourMission .img{
    width: 135px;
    height: 135px;
    overflow: hidden;
    border-radius: 80px;
}
.indexPage .ourMission .txt img{
    width: 42px;
    height: 42px;
    cursor: pointer;
}
@media (max-width:1919px) {
    .indexPage .ourMission{
        border-radius: 190px;
        background: #89EC54;
        overflow: hidden;
        padding: 16px;
        color: #226158;
        display:flex;
        align-items: center;
        column-gap: 20px;
        margin-bottom: 20px;
    }
    .indexPage .ourMission .title {
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.44px;
    }
}
@media (max-width:1599px) {
    .indexPage .ourMission .img {
        width: 100px;
        height: 100px;
    }
    .indexPage .ourMission .title {
        font-size: 40px;
        letter-spacing: 1px;
    }
    .indexPage .ourMission .txt {
        font-size: 20px;
    }
    .indexPage .ourMission .txt img {
        width: 32px;
        height: 32px;
    }
}
@media (max-width:1279px) {

}
/* Our Mission ed*/
/* 永續生活小撇步 */
.indexPage .secret{
    border-radius: 30px;
    border: 2px solid #DDD;
    background: #FFF;
    overflow: hidden;
    padding:24px;
    margin-bottom: 20px;
}
.indexPage .secret .subtitle{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.4px;
    display:flex;
    align-items: center;
    column-gap: 8px;
    margin-bottom: 10px;
}
.indexPage .secret .subtitle .line{
    background-color: #68E3BC;
    width: 2px;
    height: 6px;
    font-size: 18px; 
}
.indexPage .secret .subtitle .tag{
    background-color: #68E3BC;
    width: 30px;
    height: 30px; 
    display:flex;
    align-items: center;
    justify-content: center; 
    line-height: 0;
    border-radius: 60px;
    font-weight: 600;
}

.indexPage .secret .title{
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display:flex;
    align-items: center;
    margin-bottom: 15px;
    column-gap: 10px;
}
.indexPage .secret .txt{
    font-size: 24px;
    height: 65px;
    overflow: hidden;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.48px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box; 
    margin-bottom: 124px;
}
.indexPage .secret .title p{
    width: 65%;
    height: 125px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box; 
    letter-spacing: 0.5px; 
}
.indexPage .secret .img{ 
    width: 35%;   
    border-radius: 30px;
    overflow: hidden;
}
@media (max-width:1919px) {
    .indexPage .secret .title {
        font-size: 30px;
    }
    .indexPage .secret .title p {
        width: 65%;
        height: 75px;
    }
    .indexPage .secret .txt {
        font-size: 20px;
        height: 60px;
        margin-bottom: 58px;
    }
}
@media (max-width:1599px) {
    .indexPage .secret .title {
        font-size: 24px;
    }
    .indexPage .secret .title p {
        width: 60%;
        height: 65px;
    }
    .indexPage .secret .img{ 
        width: 40%;   
    }
    .indexPage .secret .txt {
        font-size: 18px;
        height: 50px;
        margin-bottom:15px;
    }
    .indexPage .secret .subtitle {
        font-size: 18px;
    }
    .indexPage .secret .subtitle .tag {
        width: 25px;
        height: 25px;
    }
}

/* 永續生活小撇步 ed*/

/* 共好夥伴 */
.indexPage .partner{
    overflow: hidden;
    padding: 24px 24px 24px 96px;
    background-color:#d7f2dd;
    border-radius: 190px 30px 30px 190px;
    display:flex;
    align-items: center;
}
.indexPage .partner .titleBox{
    width: 40%;
}
.indexPage .partner .list{
    width: 60%;
}
.indexPage .partner .title{
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; 
}
.indexPage .partner .txt{
    display:flex;
    align-items: center;
    column-gap: 10px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.indexPage .partner .txt img{
    display:flex;
    align-items: center;
    width: 42px;
    height: 42px;
    cursor: pointer;
}
.indexPage .partner .list .box a{
    display:flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 10px;
}
.indexPage .partner .list .box a:last-child{
    margin-bottom: 0;
}
.indexPage .partner .list a .img{
    width: 70px;
    height: 70px;
    border-radius: 80px;
    overflow: hidden;
}
.indexPage .partner .list a .img img{
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}
@media (max-width:1919px) {
    .indexPage .partner {
        overflow: hidden;
        padding: 20px 20px 20px 96px;
        background-color: #d7f2dd;
        border-radius: 190px 30px 30px 190px;
        display: flex;
        align-items: center;
    }
    .indexPage .partner .title {
        font-size: 50px;
        line-height: normal;
        margin-bottom: 10px;
    }
    .indexPage .partner .txt img {
        width: 30px;
        height: 30px;
    }
    .indexPage .partner .list a .img {
        width: 50px;
        height: 50px;
    }
    .indexPage .partner .list .box a {
        margin-bottom: 15px;
    }
}
@media (max-width:1599px) {
    .indexPage .partner {
        padding: 20px 16px 20px 70px;
    }
    .indexPage .partner .title {
        font-size: 40px;
        margin-bottom: 10px;
    }
    .indexPage .partner .txt {
        font-size: 18px;
    }
    .indexPage .partner .txt img {
        width: 30px;
        height: 30px;
    }
    .indexPage .partner .list a .img {
        width: 40px;
        height:auto;
        aspect-ratio: 1/1;
    }
    .indexPage .partner .list .box a {
        margin-bottom: 15px;
        column-gap: 5px;
    }
    .indexPage .partner .titleBox {
        width: 45%;
    }
    .indexPage .partner .list {
        width: 55%;
    }
}
/* 共好夥伴 ed*/

/* 首頁 ed*/

/* 共用大標 */
.sharedBanner{
    position: relative;
}
.sharedBanner .box{
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 60px 60px 0px 0px;
    border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    background-color: #fff;  
    padding:56px 40px;
    overflow: hidden;
}
.sharedBanner .mask{
    width: 100%;
    height: 90px;
    position: absolute;
    left:0 ;
    bottom:0;
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 50%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.sharedBanner .title{
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.44px;
}
.sharedBanner .txt{
    width: 40%;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    margin-bottom: 15px;
    z-index: 2;
}
@media (max-width:767px) {
    .sharedBanner .mask{
        height: 40px;    
    }
    .sharedBanner .box{
        display: block;
        border-radius: 50px 50px 0px 0px;
        padding: 40px 24px 30px;
        overflow: hidden;
    }
    .sharedBanner .title{
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.72px;
        margin-bottom: 30px;
    }
    .sharedBanner .txt{
        width: 100%;
        font-size: 18px;
        letter-spacing: 0.36px;
    }
}
.sharedBanner .txt p{
    margin-bottom: 15px;
}
.sharedBanner .line{
    background: #89EC54;
    width: 28px;
    height: 1px;
}
/* 共用大標 ed*/

/* 未來焦點頁面 */
.focusPage{
    padding:24px 32px;
}
.focusPage .list{
    width: 1130px;
    margin: 0 auto;
}
@media (max-width:1279px) {
    .focusPage .list{
        width: 100%;
        margin: 0 auto;
    }
}
@media (max-width:767px) {
    .focusPage{
        padding:15px;
    }  
}
.focusPage .list .titleBox{    
    width: 100%;
    position: absolute;
    bottom: 0;
    display:flex;
    align-items: flex-end;
    justify-content:space-between;
    padding:32px; 
    column-gap: 20px;
}

.focusPage .list .titleBox .title{
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.92px;
    margin-bottom: 15px;
}
.focusPage .list .titleBox .txt{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.4px;
}
.focusPage .list .title p{
    display: inline-block;
    border-radius: 20px;
    background: #FFF;
    padding: 8px 16px;
}
.focusPage .list .txt p{
    display: inline-block;
    border-radius: 10px;
    background: #FFF;
    padding: 4px 16px;
}
.focusPage .list .titleDiv {
    width: 90%;
}
.focusPage .list .titleBox .arraw{
    width: 72px;
    height: 72px;
    overflow: hidden;
    line-height: 0;
}
.focusPage .list li{
    position: relative;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 113/52;
    margin-bottom: 20px;
    border-radius: 30px;
}
@media (max-width:1023px) {
    .focusPage .list .titleDiv {        
        width: 80%;
    }
}
@media (max-width:767px) {    
    .focusPage .list .titleBox{
        padding:20px; 
    }
    .focusPage .list .titleBox .title{
        font-size: 32px;
    }
    .focusPage .list .titleBox .txt{
        font-size: 18px;
    }
    .focusPage .list .titleBox .arraw{
        width: 50px;
        height: 50px;
    }
    .focusPage .list li{
        aspect-ratio: 1/1;
    }
}
@media (max-width:414px) { 
    .focusPage .list .titleBox .arraw{
        width: 36px;
        height: 36px;
    }
    .focusPage .list .titleBox .txt p{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }
}
/* 未來焦點頁面 ed */

